header {
  background: white;
  position: static;
}

h1 {
  color: #a3b18a;
  font-family: sans-serif;
  text-align: center;
}

img {
  width: 630px;
  position: relative;
}

p {
  font-family: sans-serif;
  text-align: center;
}

ul {
  font-family: sans-serif;
  border-style: solid;
  border-width: 8px;
  border-color: white;
}

div {
  font-family: sans-serif;
  background: white;
  margin: 30px;
  padding: 40px;
  position: relative;
  left: 10px;
}

body {
  background-color: whitesmoke;
}

a {
  color: #588157;
  font-family: sans-serif;
  position: relative;
  left: 480px;
  font-size: 20px;
}

footer {
  font-family: sans-serif;
  text-align: right;
  background: white;
}
