header {
  background: white;
  position: static;
}

h1 {
  color: #a3b18a;
  font-family: sans-serif;
  text-align: center;
}

img {
  width: 630px;
  position: relative;
}

p {
  font-family: sans-serif;
  text-align: center;
}

ul {
  font-family: sans-serif;
  border-style: solid;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  border-width: 10px;
  border-color: white;
}

div {
  margin: 0px;
}

body {
  background-color: whitesmoke;
}

a {
  color: #588157;
  font-family: sans-serif;
  position: relative;
  left: 480px;
  font-size: 20px;
}

footer {
  font-family: sans-serif;
  text-align: right;
  background: white;
}
